{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Яблучний крамбл</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">ЯБЛУЧНИЙ КРАМБЛ: КЛАСИЧНИЙ РЕЦЕПТ</h1>
    <img src="https://rud.ua/uploads/under_recipe/Recept_yabluchnij_krambl_600%D1%85300_6156f564dc80c.jpg">
    
    <h2 class="h_mainer", style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Яблучний крамбл — запашний англійський десерт із соковитою фруктовою начинкою і хрустким розсипчастим тістом.<br></h3>
    <h3 class="h_des" >У перекладі з англійської «crumble» означає «крихта», що повністю виправдовує зовнішній вигляд цієї страви. Адже замість коржів за основу пирога беруть крихти пісочного тіста чи печива, до яких додають охолоджене вершкове масло та шматочки солодких яблук.<br></h3>
    <h3 class="h_des">Для приготування крамбла обирайте тверді сорти яблук, які не розпадаються при термічній обробці. Щоб зробити десерт низькокалорійним і ще більш корисним, замініть пісочне тісто на вівсяні пластівці. При запіканні вони стають хрусткими й набувають тонких горіхових ноток.</h3>
    <h3 class="h_des">Британці люблять подавати крамбл гарячим у композиції з кулькою пломбіру. Повільно танучи, морозиво розкриває смак десерту — робить його більш соковитим, свіжим і смачним.</h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Вершкове масло 180 г</h3>
    <h3 class="h_des">Пшеничне борошно	140 г</h3>
    <h3 class="h_des">Яблука	2 шт.</h3>
    <h3 class="h_des">Цукор	190 г</h3>
    <h3 class="h_des">Морозиво	кулька</h3>
    <h3 class="h_des">Лимон	½ шт.</h3>
    <h3 class="h_des">Імбир мелений	0,5 ч. л.</h3>
    <h3 class="h_des">Кориця мелена	0,5 ч. л.</h3>
    <h3 class="h_des">Рослинна олія	10 г</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Охолоджене вершкове масло натираємо на грубій тертці. Поміщаємо в глибоку посудину. Додаємо 110 г пшеничного борошна, 90 г цукру, корицю та імбир. Змішуємо до однорідності.</h3>
    <h2 class="h_nomer" >Етап № 2</h2>
    <h3 class="h_info" >Загортаємо тісто в харчову плівку й ставимо на півгодини в морозильну камеру.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Яблука очищаємо від шкірки, видаляємо серцевини. Ріжемо невеликими кубиками та збризкуємо лимонним соком для збереження свіжості й кольору.</h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">До яблук додаємо 100 г цукру і 30 г борошна, перемішуємо. Начинка готова.</h3>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">Дно форми для запікання змащуємо рослинною олією, викладаємо підготовлені яблука.</h3>
    <h2 class="h_nomer">Етап № 6</h2>
    <h3 class="h_info">Дістаємо тісто з морозилки, натираємо на грубій тертці й викладаємо на яблука.</h3>
    <h2 class="h_nomer">Етап № 7</h2>
    <h3 class="h_info">Ставимо пиріг у розігріту до 180 °С духовку та випікаємо протягом 45–60 хвилин. Коли верхівка набуде приємного золотистого кольору, а яблука розм’якнуть, страва готова!</h3>
</main>
</div>
{% endblock %}
