{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Компот</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">КОМПОТ З ДОДАВАННЯМ ЛИМОНА</h1>
    <img src="https://rud.ua/uploads/under_recipe/kompot-z-vyshni-retsept-3.jpg">
    
    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Восени, взимку та навесні, коли нам так не вистачає вітамінів, у нагоді стають компоти із заморожених ягід. Адже процес заморожування дозволяє зберегти корисні властивості ягід майже в повному обсязі.<br></h3>
    <h3 class="h_des">Ароматні та яскраві компоти з вишні, полуниці, чорниці та малини стануть смачним вітамінним доповненням до сімейного обіду або святкової вечері.<br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Ягоди на вибір 500 г</h3>
    <h3 class="h_des">Цукор 0,5-1 склянка</h3>
    <h3 class="h_des">Вода 2-2,5 л</h3>
    <h3 class="h_des">Лимон або апельсин 1 шт.</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Приготуйте каструлю об'ємом близько 5 л (за бажанням використовуйте посудину меншого об'єму, однак, зважайте на пропорційність інгредієнтів) заповніть на 2/3 водою та доведіть до кипіння. Далі візьміть половинку лимона та витисніть з нього сік.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">Налийте до каструлі необхідну кількість води, додайте цукор і доведіть до кипіння.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Візьміть заморожені ягоди: полуницю, вишню, чорну смородину або ожину у зазначеній вище кількості. Для приготування компоту плоди не потрібно попередньо розморожувати, так вони втратять багато соку. Тому покладіть всю ягідну суміш у замороженому вигляді в киплячу воду. Дочекайтеся, коли вода знову закипить. Зменшіть вогонь й варіть компот не більше 5 хвилин.</h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">Вимкніть вогонь, закрийте каструлю кришкою і відставте її на край плити. Нехай компот настоїться ще півгодини. Так він матиме ще більш насичений аромат та візьме максимум вітамінів із ягід. Тепер компот можна проціджувати, розливати у посуд та остуджувати.</h3>
</main>
</div>
{% endblock %}
