{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Курячі гомілки</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">КУРЯЧІ ГОМІЛКИ В СМЕТАННОМУ СОУСІ З ГІРЧИЦЕЮ</h1>
    <img src="https://rud.ua/uploads/under_recipe/600%D1%85300-kuryachi-homilky_5fe06a78c7abf.jpg">
    
    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Щось смачненьке на обід — це вони: курячі гомілки в сметанному соусі.<br></h3>
    <h3 class="h_des">Завдяки тушкуванню в ароматній суміші сметани, гірчиці та спецій м’ясо виходить м’яким і дуже ніжним. Якщо ж додасте до маринаду трохи меду, карі та часник, отримаєте страву з багатим пряним смаком і красивою рум’яною шкіркою.<br></h3>
    <h3 class="h_des">Читайте наш рецепт, щоб дізнатися, як зробити курячі гомілки ідеально смачними й соковитими, та радуйте близьких апетитними стравами щодня!<br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Курячі гомілки 8 шт.</h3>
    <h3 class="h_des">Сметана 250 г</h3>
    <h3 class="h_des">Часник 2 зубчики</h3>
    <h3 class="h_des">Лимон	1 шт.</h3>
    <h3 class="h_des">Петрушка пучок</h3>
    <h3 class="h_des">Гірчиця 1 ст. л.</h3>
    <h3 class="h_des">Карі, куркума	за смаком</h3>
    <h3 class="h_des">Сіль, перець за смаком</h3>
    <h3 class="h_des">Рослинна олія	20 г</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Миємо курячі гомілки, даємо зайвій рідині стекти. Викладаємо гомілки в глибоку ємність</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">В окремій посудині готуємо соус. До сметани додаємо сік лимона, гірчицю, подрібнену петрушку, пропущений через прес часник, сіль і спеції: карі, куркуму та перець. Всі інгредієнти ретельно перемішуємо.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Заливаємо гомілки сметанним соусом, перемішуємо.</h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">Форму для запікання змащуємо рослинною олією, викладаємо гомілки разом із соусом.</h3>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">Розігріваємо духовку до 180 °C та запікаємо м’ясо протягом 50 хвилин — до золотистого кольору.</h3>
</main>
</div>
{% endblock %}