{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Егг-ног</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">КЛАСИЧНИЙ ЕГГ-НОГ — ПРЯНИЙ КОКТЕЙЛЬ З</h1>
    <h1 class="h_main" style="text-align:center">АРОМАТОМ РІЗДВА</h1>
    <img src="https://rud.ua/uploads/under_recipe/klasychnyy-ehh-noh.jpg">

    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Егг-ног — ароматний холодний напій, приготований на основі молока, спецій та курячих яєць.<br></h3>
    <h3 class="h_des">Батьківщиною цього незвичайного молочного коктейлю вважають Шотландію. Однак егг-ног настільки полюбився американцям, що вже давно став традиційним різдвяним напоєм і в США та Канаді.<br></h3>
    <h3 class="h_des">Зазвичай до його складу входять збиті яєчні білки, молоко, вершки та цукор, завдяки чому егг-ног має ніжну консистенцію та привабливу кремову пінку. Проте особливого аромату напою додають спеції: кориця, гвоздика, мускатний горіх — і зовсім трохи алкоголю: рому, віскі чи бренді.<br></h3>
    <h3 class="h_des">Таке несподіване поєднання інгредієнтів викликає у роті справжній смаковий вибух! Насолодіться запаморочливо пряним шотландським коктейлем — відчуйте дух прийдешнього свята.<br></h3>
    <h3 class="h_des">Ніжну яєчно-молочну суміш можна зробити безалкогольною або вегетаріанською, якщо додати рослинне молоко з кеш’ю.  <br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Свіжі курячі яйця	6 шт.</h3>
    <h3 class="h_des">Молоко 900 мл</h3>
    <h3 class="h_des">Цукор	180 г</h3>
    <h3 class="h_des">Вершки жирністю 33% 480 мл</h3>
    <h3 class="h_des">Бурбон 240 мл</h3>
    <h3 class="h_des">Пряний ром 120 мл</h3>
    <h3 class="h_des">Мускатний горіх за смаком</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">У невеликій каструлі змішуємо молоко, ванільний цукор, корицю, гвоздику та згущене молоко. Розігріваємо пряну молочну суміш на повільному вогні, не доводячи до кипіння.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">Жовтки збиваємо з цукром за допомогою блендера. Тоненькою цівкою вливаємо тепле молоко, продовжуючи збивати суміш.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Отриману масу виливаємо назад у каструлю та розігріваємо на маленькому вогні, доки суміш не загусне. Тримаємо на гарячій плиті ще 5 хвилин.</h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">Розливаємо егг-ног у склянки, прикрашаємо збитими вершками та посипаємо тертим мускатним горіхом.</h3>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">Частуємо розкішним коктейлем близьких. Зимова казка у склянці насамперед привабить до столу дітлахів.</h3>
</main>
</div>
{% endblock %}
