{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Курячі гомілки</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">КАРТОПЛЯНІ ЗРАЗИ З ГРИБНОЮ НАЧИНКОЮ</h1>
    <img src="https://rud.ua/uploads/under_recipe/600%D1%85300-Kartoplyani-zrazy-01_5fcf38deb5f65.jpg">

    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Традиційна українська кухня знаменита не лише пампушками й борщем, але й запашними картопляними зразами з грибами. Якщо колись цю колоритну страву готували переважно на Поліссі, нині вона популярна в усьому світі. Чому? Тому що легка в приготуванні, ситна й надзвичайно смачна.<br></h3>
    <h3 class="h_des">Перед обсмажуванням зрази панірують у борошні або сухарях. Це допомагає зберегти страву соковитою всередині та домогтися красивої золотистої скоринки зовні. Довго тримати зрази на вогні не варто, адже майже всі інгредієнти в них уже готові.<br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Шампіньйони 400 г</h3>
    <h3 class="h_des">Цибуля 2 шт.</h3>
    <h3 class="h_des">Картопляне пюре 1 кг</h3>
    <h3 class="h_des">Борошно пшеничне 1 ст.</h3>
    <h3 class="h_des">Рослинна олія	для смаження</h3>
    <h3 class="h_des">Яйця 1 шт.</h3>
    <h3 class="h_des">Сіль, перець за смаком</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Цибулю дрібно нарізаємо та підсмажуємо на олії до золотистого кольору.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info"> До цибулі додаємо шампіньйони, солимо, перчимо, смажимо до готовності. Начинка готова</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Тепер займемося тістом. У підсоленій воді відварюємо картоплю, розминаємо до стану пюре. Додаємо яйце, борошно, перець та перемішуємо інгредієнти.</h3>
    <h3 class="h_info">Тісто необхідно ретельно вимішати, щоб воно було придатним для ліплення.</h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">З картопляного тіста й грибної начинки формуємо зрази. Паніруємо в сухарях.</h3>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">Викладаємо на розігріту сковороду та обсмажуємо в олії на повільному вогні — по п’ять хвилин з обох боків.</h3>
</main>
</div>
{% endblock %}