{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Київський торт</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">ДОМАШНІЙ "КИЇВСЬКИЙ ТОРТ"</h1>
    <img src="https://rud.ua/uploads/under_recipe/Yak-hotuvaty-Kyivskyi-tort-1.jpg">

    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Легендарний Київський торт підкорив чимало сердець! Цей торт став візитною карткою столиці України. Всі, хто буває в Києві в гостях, або в ділових поїздках, воліють привозити з собою гостинець – Київський торт. Про цей смачний торт знають навіть за кордоном. Історія походження цього кулінарного шедевра почалася ще в 1965 році на кондитерській фабриці імені Карла Маркса, назва якої зараз Київська кондитерська фабрика Roshen. <br></h3>
    <h3 class="h_des">Сьогодні на прилавках магазинів можна зустріти десятки різновидів цього десерту, але лише деякі з них вміють передати смак, знайомий ще з давніх часів. Рекомендуємо Вам випробувати свої сили та приготувати божественно смачний торт в домашніх умовах.<br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Яйця	14 шт.</h3>
    <h3 class="h_des">Цукор	360 г</h3>
    <h3 class="h_des">Смажений фундук (можна використовувати кеш’ю та волоський горіх)	200 г</h3>
    <h3 class="h_des">Кукурудзяний крохмаль	2,5 ст. л.</h3>
    <h3 class="h_des">Пшеничне борошно	2,5 ст. л.</h3>
    <h3 class="h_des">Цукровий пісок 150 г</h3>
    <h3 class="h_des">Вершкове масло 300 г</h3>
    <h3 class="h_des">Молоко 1 склянка</h3>
    <h3 class="h_des">Какао 2-3 ст. л.</h3>
    <h3 class="h_des">Ванілін 1 пакетик</h3>
    <h3 class="h_des">Згущене молоко 200г</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Для приготування коржів-безе рекомендуємо використовувати металевий посуд для збивання білків. Посуд має бути витертим начисто та знежиреним, це ж стосується і віночків міксера. Для того, щоб прибрати зайвий жир з поверхні посуду, протріть її лимонним соком.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">З вищевказаних продуктів має вийти два коржі, тому всі інгредієнти діляться на дві частини. Смажений фундук заздалегідь подрібнити в чаші блендера. До подрібнених горіхів додати кукурудзяний крохмаль і пшеничне борошно. 4 яєчних білка збити за допомогою міксера до стійких піків, поступово всипаючи половину норми цукру. До збитих білків слід додати половину горіхової суміші та акуратно перемішати лопаткою, рухом зверху-вниз. На пергаментному папері накресліть коло олівцем того діаметра, якого Ви хочете, щоб був Ваш торт. </h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Покладіть пергамент на деко накресленою стороною вниз і викладіть білкову масу з горіхами, акуратно розрівняйте корж. Викладена маса повинна бути приблизно на 1-1,5 менше діаметра бажаного готового коржа, так як корж в процесі випікання збільшується в об’ємі. Випікайте корж 20 хвилин у попередньо розігрітій духовці при температурі 180°C. Потім зменшіть температуру до 150°C і продовжуйте випікати ще приблизно 2 години. Як тільки приготується перший корж, починайте збивати білки для другого.</h3>
    
    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ КРЕМУ ШАРЛОТТ</h2>
    <h3 class="h_des">Яєчні жовтки - 6 шт;</h3>
    <h3 class="h_des">Цукровий пісок - 150 грам;</h3>
    <h3 class="h_des">Вершкове масло - 200 грам.</h3>
    <h3 class="h_des">Молоко - 1 склянка;</h3>
    <h3 class="h_des">Какао - 2-3 ст. ложки;</h3>
    <h3 class="h_des">Ванілін.</h3>

    <h3 class="h_info">У каструльку вилити 2/3 норми молока та додати цукор. Варити на невеликому вогні, постійно помішуючи. Довести суміш до кипіння. В окремому посуді збиваємо жовтки та додаємо до них залишок молока. До молочно-цукрової суміші додаємо суміш з жовтків та молока, і варимо до закипання, інтенсивно помішуючи.</h3>
    <h3 class="h_info">Наша суміш повинна загуснути, але в ній не повинні утворитися грудочки. Розм'якшене вершкове масло збити міксером і до нього поступово додати нашу суміш, яка остигнула. Наприкінці збивання додаємо ванілін на кінчику ножа та какао. Збивати міксером слід до однорідності, після чого помістіть крем на годину в холодильник.</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ МАСЛЯНОГО КРЕМУ</h2>
    <h3 class="h_des">Вершкове масло - 1/2 пачки (100 грам);
    <h3 class="h_des">Згущене молоко - 200 грам.

    <h3 class="h_info">Вершкове масло залиште відлежатися при кімнатній температурі, як тільки воно розм’якшиться, приступайте до приготування крему. Збивайте масло на великих оборотах міксера, поступово додаючи згущене молоко до досягнення однорідності.</h3>

    <h2 class="h_mainer" style="text-align:center">ОСТАННІЙ ШТРИХ</h2>
    <h3 class="h_info">Остиглі коржі-безе злегка обрізати ножем по краях. Залишки коржа розім’яти до крихти, відставити в сторону на деякий час. Коржі перемазати заварним кремом Шарлотт. Далі обмазати торт зверху та з боків масляним кремом, намагаючись розрівняти кремом нерівності. Крихтою з коржів обсипаємо боки торта. Масляний крем, що залишився використовуйте для того, щоб прикрасити торт. Ви можете використовувати харчові барвники для додання масляного крему різних кольорів. Після того, як торт прикрашений, поставте його на деякий час в холодильник.</h3>
</main>
</div>
{% endblock %}
