{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Молочний коктейль</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">МОЛОЧНИЙ КОКТЕЙЛЬ З КАКАО, МЕДОМ І</h1>
    <h1 class="h_main" style="text-align:center">ВИШНЕЮ</h1>
    <img src="https://rud.ua/uploads/under_recipe/Milk_shake_600x300.jpg">
    
    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Напій, що втамовує спрагу, й смачне частування водночас — ось що таке молочний коктейль. Його роблять з бананом, медом, корицею, какао, полуницею. Можна гратися з інгредієнтами, домагаючись унікального смаку, а можна використовувати стандартні рецепти, випробувані мільйонами людей. Саме такі рецепти пропонуємо нижче.Напій, що втамовує спрагу, й смачне частування водночас — ось що таке молочний коктейль. Його роблять з бананом, медом, корицею, какао, полуницею. Можна гратися з інгредієнтами, домагаючись унікального смаку, а можна використовувати стандартні рецепти, випробувані мільйонами людей. Саме такі рецепти пропонуємо нижче.<br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Сік вишні 0,5 склянки</h3>
    <h3 class="h_des">Вишня за смаком</h3>
    <h3 class="h_des">Молоко 1 л</h3>
    <h3 class="h_des">Мед 50 г</h3>
    <h3 class="h_des">Морозиво 250 г</h3>
    <h3 class="h_des">Какао-порошок 4 ст. л.</h3>
    <h3 class="h_des">Цукрова пудра за смаком</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Кладемо в блендер очищену від кісточок вишню, заливаємо охолоджене молоко і вишневий сік, сюди ж кладемо морозиво й збиваємо.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">Потім в отриману суміш додаємо какао, мед і цукрову пудру. Знову збиваємо.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Розливаємо молочний коктейль з какао, медом і вишнею у склянки, зверху посипаємо цукровою пудрою або какао, прикрашаємо вишеньками.</h3>
</main>
</div>
{% endblock %}