{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Млинці</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">ПРОСТИЙ РЕЦЕПТ МЛИНЦІВ НА МОЛОЦІ</h1>
    <img src="https://rud.ua/uploads/under_recipe/retsept_mlyntsiv_na_molotsi.jpg">
    
    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Кожен народ має свої багаті, взяті ще з сивої давнини традиції. Вони присутні всюди: в одязі, побуті, мові, піснях, їжі тощо. Особливо цікавими є українські традиції в приготуванні різноманітних національних страв. Так, до кожного великого свята українці мають перелік обов'язкових страв. Хіба ж можна уявити Різдво без куті, а Великдень без паски?<br></h3>
    <h3 class="h_des">Такою ж традиційною українською стравою вважаються млинці. Немає багато рецептів приготування млинців, незмінними інгредієнтами залишаються молоко, цукор, сіль, яйця, олія. Борошно для їх приготування може бути використане різне. Такою ж різноманітною може бути начинка. Тут вже все залежить від вигадливості господині. Мабуть, ніхто б не відмовився поласувати млинцями з медом, яблуками, м'яким сиром, згущеним молоком, грибами, м'ясом тощо.<br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Молоко 1 л</h3>
    <h3 class="h_des">Яйця 4 шт.</h3>
    <h3 class="h_des">Борошно 500 г</h3>
    <h3 class="h_des">Олія 2 ст. л.</h3>
    <h3 class="h_des">Цукор	1,5 ст. л.</h3>
    <h3 class="h_des">Сіль 0,5 ч. л.</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>
    
    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">У великій мисці збити яйця і цукор.<br></h2>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">Частину молока підігріти, посолити, і ретельно перемішати зі збитими яйцями і цукром.<br></h2>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">В отриману суміш поступово додавати борошно, постійно перемішуючи, аби не було грудочок.<br></h2>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">Додати трішечки соди, сіль і олію. Перемішати.<br></h2>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">Додати решту молока і збити. Тісто повинно бути в міру рідким.<br></h2>
    <h2 class="h_nomer">Етап № 6</h2>
    <h3 class="h_info">Розігріти сковороду.<br></h2>
    <h2 class="h_nomer">Етап № 7</h2>
    <h3 class="h_info">Обсмажити млинець з обох боків до золотистого кольору.<br></h2>
</main>
</div>
{% endblock %}