{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Наполеон</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">ТОРТ «НАПОЛЕОН»</h1>
    <img src="https://rud.ua/uploads/under_recipe/tort-napoleon-retsept-doma-1.jpg">
    
    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Якщо ви запитаєте в себе, чого б хотілося на десерт, що вам перше прийде у голову? Звісно ж, торт! Навіть ті, хто не вважає себе шанувальником мучного та солодкого, куштували торти різних видів. Один з найбільш знаменитих своєю м’якістю та ніжністю смаку  це торт «Наполеон». Напевно, не дарма його назвали іменем великого генерала — загарбника мільйонів. Класичний торт «Наполеон» підкорив мільйони любителів солодкого, і ця перемога цілком та повністю заслужена.<br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Борошно пшеничне	1,8 кг</h3>
    <h3 class="h_des">Маслo 600 г</h3>
    <h3 class="h_des">Вода	200 мл</h3>
    <h3 class="h_des">Сіль	½ ч. л.</h3>
    <h3 class="h_des">Молоко 2,5 л</h3>
    <h3 class="h_des">Цукор	500 г</h3>
    <h3 class="h_des">Яйце куряче	5 шт.</h3>
    <h3 class="h_des">Ванілін	10 г</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Як і будь-який інший торт, готувати «Наполеон» починаємо з коржів. Щоб вони вийшли «правильними», обов’язково потрібно дотримуватися описаної послідовності.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">1,5 кг борошна висипте на робочу поверхню. Викладіть на нього 500 г масла, порізаного на шматочки. Злегка змішайте. Це буде основа для тіста. Викладіть масу гіркою.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Воду кімнатної температури необхідно змішати з сіллю до повного розчинення кристалів.</h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">Далі — повільно й поступово вилити цю воду в центр гірки з борошна і масла, після чого ретельно перемішати і замісити тісто з однорідною структурою, не допускаючи виникнення грудочок.</h3>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">Тісто треба розділити на 9 шматків, після чого розкачати коржі, посипані борошном. І помістити в духовку випікатися при 180 градусах. Випічка має тривати від 15 до 20 хвилин.</h3>
    <h2 class="h_nomer">Етап № 6</h2>
    <h3 class="h_info">Наступний крок — приготування крему. Для цього необхідно 2,5 літри молока поставити на вогонь. Доки воно доходить до кипіння, слід ретельно збити яйця і цукор до утворення піни. Додати у збиті яйця рештки борошна й отриману суміш поступово ввести в молоко. Добитися повної однорідності маси, і, як результат, — правильно звареного крему. Усю масу необхідно довести до кипіння й вимкнути, як тільки з’являться перші бульбашки. У гарячий крем додати 100 г масла та ванілін.</h3>
    <h2 class="h_nomer">Етап № 7</h2>
    <h3 class="h_info">Помістіть перший корж на окреме блюдо і щедро змастіть його кремом. Зверху накрийте його новим коржем і знову змастіть. Повторюйте, доки не закінчаться компоненти. Добре змащуйте також і боки, бо коржі мають гарно просочитися. Зверху торт можна прикрасити крихтами з коржа, печивом чи ягодами.</h3>
</main>
</div>
{% endblock %}
