{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Панакота</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">КЛАСИЧНА ПАНАКОТА З ЯГІДНИМ СОУСОМ</h1>
    <img src="https://rud.ua/uploads/under_recipe/recipe-panakota-600%D1%85300.jpg">
    
    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Ніжна панакота — знаменитий десерт італійської кухні на основі вершків, цукру, желатину та ванілі.<br></h3>
    <h3 class="h_des">Кулінарний шедевр народився на півночі Італії, в регіоні П’ємонт, і в перекладі означає «варені вершки».<br></h3>
    <h3 class="h_des">Солодке вершково-кремове желе нагадує морозиво й чудово тримає форму, тож любителі солоденького зможуть неспішно насолодитися витонченим італійським десертом.</h3>
    <h3 class="h_des">Панакоту обожнюють не тільки затяті ласунчики, але й із задоволенням готують прихильники здорового харчування. Адже калорійні вершки можна замінити легким класичним йогуртом, соєвим молоком або нежирною сметаною. А замість цукру — додати мед чи кленовий сироп.</h3>
    <h3 class="h_des">Традиційна панакота містить 223 ккал на 100 г десерту — набагато менше, ніж, наприклад, такий самий шматочок «Наполеона», в якому майже 400 ккал.</h3>
    <h3 class="h_des">Класичний набір інгредієнтів збагачують кавою, корицею, ромом, какао. Проте найвишуканішою вважають панакоту з лавандою або м'ятою.</h3>
    <h3 class="h_des">До складу популярного десерту також додають ягоди та фрукти. Однак будьте обережні: кислі фрукти сприяють згортанню білків. А якщо переборщити з желатином, панакота перетвориться на гумове желе. Правильний італійський десерт м’який, схожий на кремовий пудинг з оксамитовою поверхнею на зрізі.</h3>
    <h3 class="h_des">Пікантних ноток ласощам додадуть апетитні соуси: малиновий, шоколадний, карамельний, апельсиновий...</h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Молоко 120 мл</h3>
    <h3 class="h_des">Вершки 380 мл</h3>
    <h3 class="h_des">Желатин 10 г</h3>
    <h3 class="h_des">Цукор	110 г</h3>
    <h3 class="h_des">Ванільний цукор	12 г</h3>
    <h3 class="h_des">Малина, перетерта з цукром 150 г</h3>
    <h3 class="h_des">Заморожена полуниця 100 г</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Замочуємо желатин згідно з інструкцією на пакуванні — висипаємо у невелику глибоку посудину, заливаємо необхідною кількістю води та залишаємо набухати.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">Коли желатин достатньо збільшиться в об’ємі, його необхідно добре прогріти на маленькому вогні. Аж до повного розчинення у воді. Цей етап дуже важливий для приготування панакоти приємної однорідної консистенції.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Молоко змішуємо з вершками та ставимо на плиту підігріватися. Кип’ятити суміш не потрібно.</h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">Додаємо до вершково-молочної суміші звичайний та ванільний цукор. Ретельно перемішуємо, доки кристалики повністю не розчиняться.</h3>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">У суміш вершків та молока тонким струменем наливаємо розчинений желатин. Щоб уникнути потрапляння в десерт крихітних грудочок, попередньо проціджуємо желатинову суміш через дрібне ситечко.</h3>
    <h3 class="h_info">Отриману масу розливаємо у силіконові формочки та залишаємо на три години в холодильнику для застигання.</h3>
    <h2 class="h_nomer">Етап № 6</h2>
    <h3 class="h_info">Поки панакота застигає, приготуємо соус. Розморожуємо полуницю, викладаємо в блендер. Додаємо малину, перетерту з цукром, та збиваємо протягом трьох хвилин.</h3>
    <h2 class="h_nomer">Етап № 7</h2>
    <h3 class="h_info">Виймаємо панакоту з формочок.</h3>
    <h3 class="h_info">Маленька хитрість: смакувати десертом краще не одразу з холодильника. Дайте панакоті годинку постояти за кімнатної температури. Так її смак ще краще розкриється, а консистенція стане більш м’якою та ніжною.</h3>
    <h2 class="h_nomer">Етап № 8</h2>
    <h3 class="h_info">Поливаємо панакоту ягідним соусом. Прикрашаємо м’ятою, свіжими ягодами або шматочками фруктів.</h3>
</main>
</div>
{% endblock %}