{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Сливовий пиріг</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">СЛИВОВИЙ ПИРІГ ІЗ ЛИСТКОВО-ДРІЖДЖОВОГО</h1>
    <h1 class="h_main" style="text-align:center">ТІСТА</h1>
    <img src="https://rud.ua/uploads/under_recipe/600x300_02_5fa95f0bd6d6d.jpg">
    
    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Мабуть, найсмачніший сезонний пиріг — сливовий. Соковита фруктова начинка, закутана в найніжніше рум’яне тісто… Ця ароматна випічка ніби створена для затишних сімейних вечорів!<br></h3>
    <h3 class="h_des">Для приготування сливового пирога вибирайте плоди сорту «Італійська угорка». Вони мають бути стиглими, солодкими, з жовто-зеленим м’якушем та приємною кислинкою.<br></h3>
    <h3 class="h_des">Тісто можна замісити самостійно, додавши до борошна суміш яєць, цукру та вершкового масла.<br></h3>
    <h3 class="h_des">Дно пирога зазвичай присипають крохмалом. Він утримує сік, що виділяють сливи, всередині випічки та не дозволяє начинці витікати.<br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Заморожене листково-дріжджове тісто 700 г</h3>
    <h3 class="h_des">Сливи 600 г</h3>
    <h3 class="h_des">Цукор 100 г</h3>
    <h3 class="h_des">Вершкове масло 30 г</h3>
    <h3 class="h_des">Яйця 1 шт.</h3>
    <h3 class="h_des">Крохмал кукурудзяний 1 ст. л.</h3>
    <h3 class="h_des">Кориця 1 ч. л.</h3>
    <h3 class="h_des">Цукрова пудра 15 г</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Розморожуємо та розкачуємо листково-дріжджове тісто. Відрізаємо та відкладаємо частину тіста для формування верхівки.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">Змащуємо форму вершковим маслом та обережно викладаємо тісто. Формуємо бортики. Зайве тісто обрізаємо кухонними ножицями.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Сливи ретельно миємо, звільняємо від кісточок та ріжемо вздовж на чотири частини.</h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">Посипаємо тісто крохмалем та рівномірно розподіляємо його по поверхні.</h3>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">Заповнюємо форму з тістом нарізаними сливами. Щедро посипаємо цукром та корицею.</h3>
    <h2 class="h_nomer">Етап № 6</h2>
    <h3 class="h_info">Тісто, що залишилося, розрізаємо на тонкі довгі смужки та робимо плетінку зверху пирога.</h3>
    <h2 class="h_nomer">Етап № 7</h2>
    <h3 class="h_info">Яєчним жовтком змащуємо верхівку.</h3>
    <h2 class="h_nomer">Етап № 8</h2>
    <h3 class="h_info">Випікаємо пиріг за температури 180 °С протягом 30 хвилин. Виймаємо пиріг із духовки, посипаємо цукровою пудрою.</h3>
</main>
</div>
{% endblock %}