{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Пончики</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">ДУХМЯНІ СИРНІ ПОНЧИКИ НА КЕФІРІ ЩОЙНО З</h1>
    <h1 class="h_main" style="text-align:center">ПАТЕЛЬНІ</h1>
    <img src="https://rud.ua/uploads/under_recipe/donuts_600x300.jpg">

    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Пончики, донатси, пампушки, берлінери... Ці пухкі солодкі пиріжки з рум’яною скоринкою підкорили світ! Дбайливо обсмажені в соняшниковій олії пишні домашні пончики випромінюють неземний аромат свіжої випічки та ванілі — неможливо встояти!<br></h3>
    <h3 class="h_des">Різновидів такої смакоти безліч: з повидлом, шоколадом, цукровою пудрою... Та щоб зробити улюблені смаколики ще більш м’якими та ніжними, додайте до компонентів страви кисломолочний сир. А дріжджі замініть кориснішим інгредієнтом — кефіром.<br></h3>
    <h3 class="h_des">Секрет ідеального пончика — у ретельній підготовці домашнього сиру. Перетріть сир до однорідної кремової маси за допомогою блендера й невеличкими порціями введіть у тісто. Тоді основа пончиків буде пластичною та не матиме грудочок.<br></h3>
    <h3 class="h_des">Щоб приготувати найпухкіші сирні пончики, добре розігрійте фритюр. У киплячій олії золотисті борошняні колобки дуже швидко смажаться — пильнуйте, щоб не підгоріли!<br></h3>
    <h3 class="h_des">Сирні пончики на кефірі чудово підходять для сніданку чи легкого перекусу. З молоком, чаєм або кавою — вони однаково смачні. Повітряний м’якуш і хрустка скоринка — незаперечні переваги пончиків з сиром, коли хочеться потішити домашніх солоденьким, але немає бажання довго возитися з тістом.<br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Борошно 160 г<br></h3>
    <h3 class="h_des">Кефір 1 склянка<br></h3>
    <h3 class="h_des">Яйця 4 шт.<br></h3>
    <h3 class="h_des">Кисломолочний сир 200 г<br></h3>
    <h3 class="h_des">Цукор 5 ст. л.<br></h3>
    <h3 class="h_des">Сода 1 ч. л.<br></h3>
    <h3 class="h_des">Ванілін дрібка<br></h3>
    <h3 class="h_des">Рослинна олія	для смаження<br></h3>
    <h3 class="h_des">Цукрова пудра	за смаком <br></h3>
    
    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ<br></h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Яйця збиваємо з цукром у блендері до утворення світлої піни. Невеликими порціями додаємо перетертий кисломолочний сир, ванілін та ретельно перемішуємо суміш.<br></h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">До сирно-яєчної маси додаємо половину кефіру. Решту кефіру посипаємо содою та перемішуємо, доки кефір не підніметься.<br></h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Додаємо другу частину кефіру в тісто, всипаємо муку, перемішуємо. Тісто повинно вийти густим та ніжним.<br></h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">У пательні або фритюрі нагріваємо до кипіння соняшникову олію. Викладаємо сирні пончики в розпечену олію. Для цього столову ложку змочуємо у воді, набираємо тісто і мокрим пальцем знімаємо пончик у киплячу олію.<br></h3>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">Для формування бублика мокрими руками створюємо ковбаску з тіста та з’єднуємо краї.<br></h3>
    <h2 class="h_nomer">Етап № 6</h2>
    <h3 class="h_info">Під час смаження пончики збільшаться, стануть гладенькими, пухкими та рівними.<br></h3>
    <h2 class="h_nomer">Етап № 7</h2>
    <h3 class="h_info">Смажимо пончики на маленькому вогні до утворення золотистої скоринки. Готові смаколики викладаємо на паперові серветки, посипаємо цукровою пудрою та частуємо близьких.<br></h3>
</main>
</div>
{% endblock %}