{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Картопляна запіканка</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">АРОМАТНА ЗАПІКАНКА З КАРТОПЛІ, ЯЛОВИЧОГО</h1>
    <h1 class="h_main" style="text-align:center">ФАРШУ ТА ГРИБІВ</h1>
    <img src="https://rud.ua/uploads/under_recipe/Potato-casserole-with-meat-600x300_6066cb594e6f2.jpg">
    
    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Прості інгредієнти, знайомий рецепт, година вільного часу — і на вашому столі апетитна картопляна запіканка.<br></h3>
    <h3 class="h_des">Додайте всередину м’ясний фарш, запашні гриби та соковиті овочі. А зверху приправте натертим сиром або соусом бешамель. Вийде ароматна і ситна страва для сімейного обіду чи вечері.<br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Картопля 500 г</h3>
    <h3 class="h_des">Яловичий фарш	400 г</h3>
    <h3 class="h_des">Овочі з грибами 200 г</h3>
    <h3 class="h_des">Морква 200 г</h3>
    <h3 class="h_des">Цибуля 2 шт.</h3>
    <h3 class="h_des">Вершки 100 г</h3>
    <h3 class="h_des">Сметана 100 г</h3>
    <h3 class="h_des">Сир пармезан 200 г</h3>
    <h3 class="h_des">Вершкове масло 50 г</h3>
    <h3 class="h_des">Базилік за смаком</h3>
    <h3 class="h_des">Паприка за смаком</h3>
    <h3 class="h_des">Сіль, перець	за смаком</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Чистимо картоплю, нарізаємо тонкими кружальцями. Подрібнюємо цибулю, на грубій тертці натираємо моркву та сир.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">До м'ясного фаршу додаємо базилік, паприку, сіль, перець, а також вершки. Вимішуємо.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Суміш овочів та грибів «Преміум» підсмажуємо на рослинній олії з половиною цибулі до золотистого кольору.</h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">Решту цибулі разом із морквою пасеруємо на олії протягом п'яти хвилин. Додаємо ложку сметани, солимо, перемішуємо. Накриваємо кришкою й тушкуємо протягом трьох хвилин на середньому вогні.</h3>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">Змащуємо форму для випікання рослинною олією й викладаємо інгредієнти шарами. На дно викладаємо половину картоплі. Потім — м'ясний фарш. Далі — суміш овочів та грибів. Наступний шар — моркв'яний. Зверху викладаємо решту картоплі.</h3>
    <h2 class="h_nomer">Етап № 6</h2>
    <h3 class="h_info">Перемішуємо сметану, вершки та натертий сир. Заливаємо страву.</h3>
    <h2 class="h_nomer">Етап № 7</h2>
    <h3 class="h_info">Ставимо наповнену форму в розігріту до 200 °С духовку та запікаємо протягом 40–50 хвилин до утворення рум'яної скоринки.</h3>
</main>
</div>
{% endblock %}