{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Малиновий торт-морозиво</title>
<title></title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">НІЖНИЙ МАЛИНОВИЙ ТОРТ ІЗ МОРОЗИВОМ</h1>
    <img src="https://rud.ua/uploads/under_recipe/Malinoviy_tort-morozivo_600x300_61cc2028604e5.jpg">
    
    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Малиновий торт-морозиво — це вишукане поєднання ніжного вершкового морозива й ароматної малини на основі з хрусткого пісочного печива. Прекрасний варіант, коли хочеться кинути виклик традиційним десертам і приготувати щось незвичайне! Десерт не тільки легкий і чудово освіжає, але й має ефектний вигляд: улюблені ягоди на білосніжній подушці з морозива створюють неймовірно апетитний контраст кольорів.<br></h3>
    <h3 class="h_des">Для приготування торта знадобиться свіжа малина. А в несезон пропонуємо використати вітамінну заготовку від ТМ «Рудь». Ми вже перетерли соковиті малинові ягоди й апельсини із цукром, тож вам залишається тільки змішати їх із морозивом та помістити на корж із печива чи бісквіт. Торт виходить ніжним, з приємною повітряною консистенцією та яскравою цитрусовою ноткою.<br></h3>
    <h3 class="h_des">Потіште близьких цією смакотою — вони будуть вдячні вам за такий кулінарний сюрприз.<br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Пісочне печиво 400 г</h3>
    <h3 class="h_des">Вершкове масло 170 г</h3>
    <h3 class="h_des">Вода 200 мл</h3>
    <h3 class="h_des">Малина, перетерта із цукром 300 г</h3>
    <h3 class="h_des">Морозиво	750 г</h3>
    <h3 class="h_des">Свіжі або заморожені ягоди для прикрашання</h3>
    <h3 class="h_des">Ванілін 2 г</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Печиво подрібнюємо, змішуємо з розм’якшеним вершковим маслом та викладаємо у форму з високими знімними бортами.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">У глибоку посудину викладаємо морозиво і залишаємо на 10–15 хвилин за кімнатної температури.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Малину, перетертy із цукром, додаємо до морозива та змішуємо за допомогою блендера. Отриману масу ставимо на півгодини в холодильник для застигання.</h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">Викладаємо суміш на корж із печива, розрівнюємо поверхню. Ставимо в морозилку для остаточного замерзання.</h3>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">Виймаємо торт із форми та прикрашаємо цілими ягодами — свіжими або замороженими.</h3>
</main>
</div>
{% endblock %}
