{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Солянка</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">КЛАСИЧНИЙ РЕЦЕПТ СОЛЯНКИ</h1>
    <img src="https://rud.ua/uploads/under_recipe/solyanka-recept-1.jpg">
    
    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Ця відома страва російської кухні має багату історію. Дотепер невідомо, чому солянка так називається. Існує думка, що спочатку ця страва мала назву «селянка», тобто сільська страва. Готували її всі разом: хтось принесе рибу, хтось м'ясо, хтось овочі. Вся ця мішанина пізніше перетворилася на «солянку». За іншою версією, «солянка» завжди була «солянкою», оскільки до складу страви входили усілякі соління. Сучасні рецепти дещо відрізняються від історичних, проте основні інгредієнти залишилися незмінними.</h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Яловичина 300 г</h3>
    <h3 class="h_des">Копчене м'ясо 200 г</h3>
    <h3 class="h_des">Ковбаса 200 г</h3>
    <h3 class="h_des">Сосиски 6 шт</h3>
    <h3 class="h_des">Морква 1 шт</h3>
    <h3 class="h_des">Цибуля 3 шт</h3>
    <h3 class="h_des">Борошно 1-2 ст. л.</h3>
    <h3 class="h_des">Томатна паста 3 ст. л.</h3>
    <h3 class="h_des">Зелень, спеції та мариновані огірки за смаком</h3>
    <h3 class="h_des">Сметана за смаком</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">З яловичини, лаврового листа, солі і перцю приготувати бульйон. Зварене м'ясо нарізати соломкою і вкинути назад в бульйон. Мариновані огірки нарізати кубиками і кинути в бульйон.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">На розігрітій сковороді підсмажити нарізані соломкою ковбасу, копчене м'ясо і сосиски. Висипати все в бульйон. Ріпчасту цибулю нарізати кільцями і смажити на сковорідці разом з борошном і томатною пастою ще кілька хвилин, потім вилити все в каструлю з бульйоном.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Додати спеції і зелень за смаком.</h3>
    <h3 class="h_info">При подачі на стіл в солянку можна покласти ложку сметани. Але це індивідуально для кожної людини. Можливо комусь довподоби без неї смакувати страву.</h3>
</main>
</div>
{% endblock %}