{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Суп</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">ОВОЧЕВИЙ СУП ЗІ СТРУЧКОВОЮ КВАСОЛЕЮ,</h1>
    <h1 class="h_main" style="text-align:center">М’ЯСОМ ТА РИСОМ</h1>
    <img src="https://rud.ua/uploads/under_recipe/sup-z-kvasoletu-600x300-min.jpg">
    
    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">Легкий овочевий суп зі стручковою квасолею — смачна й ароматна перша страва на кожен день. Ним можна прекрасно підкріпитися з користю для організму й без шкоди для фігури<br></h3>
    <h3 class="h_des">Багаті вітамінами зелені стручки квасолі в поєднанні з кукурудзою, морквою та болгарським перцем додають страві соковитості й приємного солодкуватого смаку. А кольорова гама цього овочевого супу так і вабить скоріше його скуштувати.<br></h3>
    <h3 class="h_des">Дієтологи радять вживати стручкову квасолю не менше ніж двічі на тиждень. Таку страву зі стручковою квасолею не складно, а навіть приємно повторювати хоч щодня!<br></h3>
    
    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">М’ясо індички 150 г</h3>
    <h3 class="h_des">Стручкова квасоля 200 г</h3>
    <h3 class="h_des">Картопля 2 шт.</h3>
    <h3 class="h_des">Овочева суміш 200 г</h3>
    <h3 class="h_des">Вода 1,5–2 л</h3>
    <h3 class="h_des">Цибуля ріпчаста	1 шт.</h3>
    <h3 class="h_des">Морква 1 шт.</h3>
    <h3 class="h_des">Часник 1–2 зубчики</h3>
    <h3 class="h_des">Рослинна олія за потреби</h3>
    <h3 class="h_des">Свіжа петрушка, кріп за смаком</h3>
    <h3 class="h_des">Лавровий лист 2 шт.</h3>
    <h3 class="h_des">Сіль за смаком</h3>
    <h3 class="h_des">Чорний мелений перець за смаком</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Наливаємо в каструлю 1,5 л води, ставимо на середній вогонь. В окріп укидаємо шматочки індички та варимо м’ясо протягом трьох хвилин. Змінюємо воду й відварюємо індичку до напівготовності.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">До м’яса додаємо заморожену стручкову квасолю та овочеву суміш «Гавайську» із бланшованого рису, зеленого горошку, кукурудзи та болгарського перцю. Перемішуємо овочі та варимо сім хвилин.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Чистимо картоплю, нарізаємо кубиками, вкидаємо в каструлю разом із подрібненим часником та лавровим листом. Солимо, перчимо за смаком та варимо суп іще 15 хвилин.</h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">Тим часом дрібно нарізаємо цибулю, на грубій тертці натираємо моркву та підсмажуємо овочі на сковороді з додаванням рослинної олії. Перекладаємо в каструлю.</h3>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">Дрібно нарізаємо кріп та петрушку, додаємо до супу. Страва готова — знімаємо з плити.</h3>
    <h3 class="h_info">Даємо супу 10–15 хвилин настоятися та подаємо теплим до столу.</h3>
</main>
</div>
{% endblock %}