{% extends 'base.html' %}
{% block button %}
{{ super() }}
<title>Крем-суп</title>
<div class="div">
<main>
    <h1 class="h_main" style="text-align:center">ЛЕГКИЙ КРЕМ-СУП ІЗ ЗЕЛЕНИМ ГОРОШКОМ,</h1>
    <h1 class="h_main" style="text-align:center">ВЕРШКАМИ ТА М’ЯТОЮ</h1>
    <img src="https://rud.ua/uploads/under_recipe/krem-sup_600x300_v1-min.jpg">
    
    <h2 class="h_mainer" style="text-align:center">ОПИС СТРАВИ</h2>
    <h3 class="h_des">«Обід без супу — що будинок без парадного входу», — кажуть французи. Ніжний крем-суп із зеленого горошку та вершків — класика французької кухні.<br></h3>
    <h3 class="h_des">Ароматний, густий та поживний, він прекрасно засвоюється організмом. А готують його зовсім просто: відварений зелений горошок змішують із маслом, вершками та спеціями й перетирають до однорідності, після чого — з’єднують із відваром. <br></h3>
    <h3 class="h_des">Цей запашний супчик кольору весняної зелені має пікантний солодкуватий смак та неймовірно апетитний вигляд — ніби щойно із французького ресторану. Та варто прикрасити його слайсами бекону чи шматочком соковитої курятини — й перед вами колоритна та ситна домашня страва на кожен день.<br></h3>

    <h2 class="h_mainer" style="text-align:center">ІНГРЕДІЄНТИ</h2>
    <h3 class="h_des">Зелений горошок 400 г</h3>
    <h3 class="h_des">Цибуля ріпчаста 1 шт.</h3>
    <h3 class="h_des">Бульйон 700 мл</h3>
    <h3 class="h_des">М’ята	3 гілочки</h3>
    <h3 class="h_des">Петрушка 3 гілочки</h3>
    <h3 class="h_des">Вершки 100 мл</h3>
    <h3 class="h_des">Цукор	1 ч. л.</h3>
    <h3 class="h_des">Сіль за смаком</h3>
    <h3 class="h_des">Слайси бекону	за бажанням</h3>

    <h2 class="h_mainer" style="text-align:center">ПРИГОТУВАННЯ</h2>

    <h2 class="h_nomer">Етап № 1</h2>
    <h3 class="h_info">Дрібно нарізаємо цибулю та викладаємо в каструлю. Додаємо шматочок вершкового масла й тушкуємо на маленькому вогні п’ять хвилин.</h3>
    <h2 class="h_nomer">Етап № 2</h2>
    <h3 class="h_info">Подрібнюємо петрушку та м’яту, разом із зеленим горошком викладаємо в каструлю. Додаємо чайну ложку цукру та дрібку солі. Заливаємо холодною водою так, аби вона ледь прикривала вміст каструлі. Доводимо до кипіння та варимо 15 хвилин.</h3>
    <h2 class="h_nomer">Етап № 3</h2>
    <h3 class="h_info">Зливаємо відвар в окрему посудину. Горошок подрібнюємо блендером до стану пюре.</h3>
    <h2 class="h_nomer">Етап № 4</h2>
    <h3 class="h_info">Додаємо вершки та половину відвару, ретельно перемішуємо. Доводимо до кипіння та варимо не більше п’яти хвилин. За потреби можна використати весь бульйон.</h3>
    <h2 class="h_nomer">Етап № 5</h2>
    <h3 class="h_info">Слайси бекону підсмажуємо до золотистого кольору.</h3>
</main>
</div>
{% endblock %}